*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
.kotlin/
*.apk
*.log
*.tmp
deepcode_logs.txt
db_dump.txt
db_history.txt
=0.9.4
extracted_asar/
generated_pdfs/
*.html
query.sql
node_modules/
auth/
